{% extends 'blog/base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
{% endblock css %}

{% block title %}home{% endblock title %}

{% block section %}
    <section class="featured-posts">
        <div class="section-title">
            <p><span>목록</span></p>
        </div>
        
        <div class="card-columns listfeaturedtag">
            {% for article in articles %}
            <div class="card">
                <a href="{%	url 'blog:detail' article.pk %}">
                        <div class="card-block">
                        <p>{{article}}</p>
                        <p>{{article.content}}</p>
                        <p>작성자 : {{article.author}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock section %}