{% extends 'blog/base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
{% endblock css %}

{% block title %}login{% endblock title %}

{% block section %}
    <section class="featured-posts">
        <div class="section-title">
            <h2><span>Login</span></h2>
        </div>
        {% if error %}
            <p>{{error}}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{	form.as_p }}
            <input required name="username" type="text" placeholder="아이디"/>
            <input required name="password" type="password" placeholder="비밀번호"/>
            <button type="submit">로그인</button>
        </form>
    </section>
{% endblock section %}